<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/static/styles/colors.css" />
  <link rel="stylesheet" href="/static/styles/global.css" />
  <link rel="stylesheet" href="/static/styles/code.css" />


  <link rel="icon" href="/static/icon/icon.svg" type="image/svg+xml">
  <link rel="shortcut icon" href="/static/icon/favicon.ico" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <title>notes: {{title.lower()}}</title>
</head>

<body>
  <nav>
    <div class="main-icon">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" baseProfile="full" version="1.1" style="fill: none;"
          viewBox="26.88 56.87 216.25 156.27">
          <path
            style="stroke-width: 15px; stroke-linecap: butt; stroke-linejoin: round; stroke: rgb(10, 10, 10); fill: none;"
            d="M135,75 A60,60 0 0,0 75,135 A60,60 0 0,0 135,195 A60,60 0 0,0 195,135 A60,60 0 0,0 135,75 M45,90 A15,15 0 0,1 60,75 A15,15 0 0,1 75,90 L75,135 L75,180 A15,15 0 0,1 60,195 A15,15 0 0,1 45,180 M225,90 A15,15 0 0,0 210,75 A15,15 0 0,0 195,90 L195,135 L195,180 A15,15 0 0,0 210,195 L210,195 A15,15 0 0,0 225,180 M135,105 A30,30 0 0,1 165,135 A30,30 0 0,1 135,165 A30,30 0 0,1 105,135 A30,30 0 0,1 135,105 M45,105 L45,105 L45,165 M225,105 L225,105 L225,165 ">
          </path>
        </svg>
      </a>
    </div>

    <div class="nav-segments-container">
      <div class="nav-segments">
        {% if piblings != None %}

        <div class="flex flex-col text-left nav-links">
          <a href="/{{sanitize_url(parent)|e}}" class="activated-link">{{node["parent"]}}</a>
          {% for pibling in piblings %}
          {% if pibling == parent %}
          {% else %}
          <a href="/{{sanitize_url(pibling)|e}}">{{pibling}}</a>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}

        {% if siblings != None %}

        <div class="flex flex-col text-left nav-links">
          <a href="/{{sanitize_url(title)|e}}" class="activated-link">{{title}}</a>
          {% for sibling in siblings %}
          {% if sibling == title %}
          {% else %}
          <a href="/{{sanitize_url(sibling)|e}}">{{sibling}}</a>
          {%endif%}
          {% endfor %}
        </div>
        {% endif %}

        {% if children != None and len(children) > 0 %}

        <div class="flex flex-col text-left nav-links">
          {% for child in children %}
          <a href="/{{sanitize_url(child)|e}}">{{child}}</a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>


  </nav>
  <main>
    <header>
      <h1>{{subtitle}}</h1>
    </header>
    <article>{{node["body"]}}</article>

    <hr />

    <div class="meta">
      {% if node["post_date"] %}
      <p class="backlinks"><span class="bold">Posted:</span> {{node["post_date"]}}</p>
      {% endif %}

      {% if node["backlinks"] != None and len(node["backlinks"]) > 0 %}
      <p class="backlinks"><span class="bold">Incoming:</span>
        {% for backlink in node["backlinks"] %}
        <a href="/{{sanitize_url(backlink)|e}}">{{backlink}}</a>
        {% endfor %}
        </span>
      </p>
      {% endif %}

      {% if tags != None and len(tags) > 0 %}
      <p class="backlinks"><span class="bold">Tags:</span>
        {% for tag in tags %}
        <a href="/tags#{{tag}}">#{{tag}}</a>
        {% endfor %}
        </span>
      </p>
      {% endif %}
    </div>
  </main>
  <footer>
    <a href="mailto:zachpmanson@gmail.com?subject=On '{{title}}'">reply</a>
    <a href="/{{sanitize_url(node['random_page'])|e}}">random</a>
    <a href="/recent-changes">updates</a>
    <a href="/tags">tags</a>
    <a href="/sitemap">sitemap</a>
    <a href="https://github.dev/pavo-etc/notes/blob/main/{{node['breadcrumb_path']}}">edit</a>
  </footer>
  {% if node["script"] != None %}
  <script>{ { node["script"] } }</script>
  {% endif %}
</body>

</html>