<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/static/styles/colors.css" />
  <link rel="stylesheet" href="/static/styles/global.css" />
  <link rel="stylesheet" href="/static/styles/code.css" />

  <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png" />
  <link rel="manifest" href="/static/icon/site.webmanifest" />
  <link rel="mask-icon" href="/static/icon/safari-pinned-tab.svg" color="#bd93f9" />
  <link rel="shortcut icon" href="/static/icon/favicon.ico" />
  <meta name="msapplication-TileColor" content="#603cba" />
  <meta name="msapplication-config" content="/static/icon/browserconfig.xml" />
  <meta name="theme-color" content="#282A36" />


  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <title>notes: {{title.lower()}}</title>
</head>

<body>
  <nav>


    <div class="main-icon">
      <a href="/">
        <img src="/static/icon/icon.png" alt="notes" height="100">
      </a>
    </div>

    <div class="nav-segments-container">
      <div class="nav-segments">
        {% if piblings != None %}

        <div class="flex flex-col text-left nav-links">
          <a href="/{{sanitize_url(parent)|e}}" class="activated-link">{{node["parent"]}}</a>
          {% for pibling in piblings %}
          {% if pibling == parent %}
          {% else %}
          <a href="/{{sanitize_url(pibling)|e}}">{{pibling}}</a>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}

        {% if siblings != None %}

        <div class="flex flex-col text-left nav-links">
          <a href="/{{sanitize_url(title)|e}}" class="activated-link">{{title}}</a>
          {% for sibling in siblings %}
          {% if sibling == title %}
          {% else %}
          <a href="/{{sanitize_url(sibling)|e}}">{{sibling}}</a>
          {%endif%}
          {% endfor %}
        </div>
        {% endif %}

        {% if children != None and len(children) > 0 %}

        <div class="flex flex-col text-left nav-links">
          {% for child in children %}
          <a href="/{{sanitize_url(child)|e}}">{{child}}</a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>


  </nav>
  <main>
    <header>
      <h1>{{subtitle}}</h1>
    </header>
    <article>{{node["body"]}}</article>

    <hr />

    {% if node["post_date"] %}
    <p class="backlinks"><span class="bold">Posted:</span> {{node["post_date"]}}</p>
    {% endif %}

    {% if node["backlinks"] != None and len(node["backlinks"]) > 0 %}
    <p class="backlinks"><span class="bold">Incoming:</span>
      {% for backlink in node["backlinks"] %}
      <a href="/{{sanitize_url(backlink)|e}}">{{backlink}}</a>
      {% endfor %}
      </span>
    </p>
    {% endif %}

    {% if tags != None and len(tags) > 0 %}
    <p class="backlinks"><span class="bold">Tags:</span>
      {% for tag in tags %}
      <a href="/tags#{{tag}}">#{{tag}}</a>
      {% endfor %}
      </span>
    </p>
    {% endif %}
  </main>
  <footer>
    <a href="https://github.dev/pavo-etc/notes/blob/main/{{node['breadcrumb_path']}}">edit</a> -
    <a href="/{{sanitize_url(node['random_page'])|e}}">random</a> -
    <a href="/recent-changes">updates</a> -
    <a href="/tags">tags</a> -
    <a href="/sitemap">sitemap</a>
  </footer>
  {% if node["script"] != None %}
  <script>{ { node["script"] } }</script>
  {% endif %}
</body>

</html>