<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/static/styles/colors.css" />
  <link rel="stylesheet" href="/static/styles/global.css" />
  <link rel="stylesheet" href="/static/styles/code.css" />

  <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png" />
  <link rel="manifest" href="/static/icon/site.webmanifest" />
  <link rel="mask-icon" href="/static/icon/safari-pinned-tab.svg" color="#bd93f9" />
  <link rel="shortcut icon" href="/static/icon/favicon.ico" />
  <meta name="msapplication-TileColor" content="#603cba" />
  <meta name="msapplication-config" content="/static/icon/browserconfig.xml" />
  <meta name="theme-color" content="#282A36" />


  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <title>notes: templates</title>
</head>

<body>
  <nav>

    <div class="main-icon">
      <a href="/">
        <img src="/static/icon/icon.png" alt="notes" height="100">
      </a>
    </div>

    <div class="nav-segments-container">
      <div class="nav-segments">
        

        <div class="flex flex-col text-left nav-links">
          
          
          <a href="/archive" class="activated-link">Archive</a>
          
          
          
          <a href="/meta">Meta</a>
          
          
          
          <a href="/notes">Notes</a>
          
          
          
          <a href="/projects">Projects</a>
          
          
        </div>
        

        

        <div class="flex flex-col text-left nav-links">
          
          
          <a href="/bookmarks">Bookmarks</a>
          
          
          
          <a href="/fiction">Fiction</a>
          
          
          
          <a href="/folklore">Folklore</a>
          
          
          
          <a href="/lines">Lines</a>
          
          
          
          <a href="/problems">Problems</a>
          
          
          
          <a href="/templates" class="activated-link">Templates</a>
          
          
        </div>
        

        

        <div class="flex flex-col text-left nav-links">
          
          <a href="/next.js-api-validation-template">Next.js API Validation Template</a>
          
          <a href="/python-getopt()-template">Python getopt() Template</a>
          
          <a href="/reset-css-rules">Reset CSS Rules</a>
          
          <a href="/time-ago-function">Time Ago Function</a>
          
        </div>
        
      </div>
    </div>

  </nav>
  <main>
    <header>
      <h1>Templates</h1>
    </header>
    <article><p>A place for me to dump common idioms and templates, whether that be programming or otherwise.</p></article>

    

    




    
    
    <h2><a href="/next.js-api-validation-template">Next.js API Validation Template</a></h2>
    
    <h2><a href="/python-getopt()-template">Python getopt() Template</a></h2>
    
    <h2><a href="/reset-css-rules">Reset CSS Rules</a></h2>
    
    <h2><a href="/time-ago-function">Time Ago Function</a></h2>
    
    

  </main>
  <footer>
    <a href="https://github.dev/pavo-etc/notes/blob/main/./notes/Archive/Templates/Templates.md">edit</a> -
    <a href="/tiktoks-enshittification">random</a> -
    <a href="/recent-changes">updates</a> -
    <a href="/tags">tags</a> -
    <a href="/sitemap">sitemap</a>
  </footer>
  
</body>

</html>