body {
  margin: 1rem;
  font-family: sans-serif;
  color: var(--white);
  background-color: var(--background);
  text-align: center;
  line-height: 1.4;
}

::selection {
  background-color: var(--grey);
}

main {
  text-align: left;
  max-width: 40rem;
  margin: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

nav {
  display: flex;
}

nav ul {
  margin: 0 auto;
}

nav ul li {
  list-style: none;
  text-align: left;
}

a {
  color: var(--pink);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.1s ease-in;
}

a:hover {
  text-decoration-color: var(--pink);
}

a[href^="/"] {
  color: var(--purple);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.1s ease-in;
}

a[href^="/"]:hover {
  text-decoration-color: var(--white);
}

a:active {
  color: var(--white);
  text-decoration-color: var(--white);
  transition: all 0s ease-in;
}

.activated-link {
  color: var(--white);
}

.activated-link:hover {
  color: var(--pink);
  text-decoration-color: var(--pink);
}

a[href^="/"].activated-link {
  color: var(--white);
}

a[href^="/"].activated-link:hover {
  color: var(--purple);
  text-decoration-color: var(--purple);
}

.bold {
  font-weight: bold;
}

/* Inline monospace */
p code {
  color: var(--yellow);
}

hr {
  color: var(--white);
  margin: 2rem auto;
}

footer {
  font-weight: lighter;
  margin-top: 5rem;
}

summary h2 {
  display: inline;
}

blockquote {
  margin: 1rem;
  padding: 0 1rem;
  border-left: 2px solid var(--dark-blue);
}

blockquote + p > cite {
  margin-left: 1rem;
}

blockquote + p > cite::before {
  content: "– ";
}

/* has() not supported on firefox yet */
blockquote + p:has(a cite)::before {
  margin-left: 1rem;
}

blockquote + p:has(a cite)::before {
  content: "– ";
}

.backlinks {
  display: flex;
  gap: 0.5rem;
}
